

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    /*padding-top: 20px;*/
    margin:0;
    line-height:100px;
    text-align:center;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: white;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/*---------------------------------------------------
	3.1 Topbar
---------------------------------------------------*/

#section-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-topbar a {
  color: #fff;
}

#topbar-inner {
	background: #111;
	line-height: 0;
	text-align: center;
}

/*
	Top Bar

	By default, top navigation bar uses "fixed" position
*/
#section-topbar ul#nav {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;

	border-right: 1px solid #222;

	/* For IE, the outcast */
	zoom:1;
	*display: inline;
}

#section-topbar ul#nav > li {
	display: block;
    float: left;
    padding: 0;
}


#section-topbar ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  border-left: 1px solid #222;
}

	#section-topbar ul#nav a:hover {
	  background: #222;
	  text-decoration: none;
	  border-left: 1px solid #111;
	}

	#section-topbar ul#nav .active a {
		background: #44bbaa;
		border-left: 1px solid #111;
	}

		#section-topbar ul#nav .active a:hover {
			background: #44bbaa;
		}
#section-topbar i {
	font-size: 25px;
}

/* Header Wrap */
#headerwrap {
	background: url(../images/Capitol_Building.png) no-repeat center top;
	margin-top: 8px;
	padding-top:160px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 100%;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	font-size: 80px;
	color: #B2B2B2;
}

#headerwrap h3 {
	font-size: 20px;
	color: #B2B2B2;
}

#headerwrap p {
	font-size: 18px;
	color: #B2B2B2;
}

#intro {
	background-color: #0A0A00;
	opacity: 0.6;
	width: auto;
}

#REP {
	background-color: rgba(233,29,14,0.7);
	font-weight: bold;
}

#DEM {
	background-color: rgba(35,32,102,0.7);
	font-weight: bold;
}

#newpacwrapper {
    height: 100vh;
    background-color: #7C5329;
}

#twentyNewestPacsContainer {
            width: 300px;
            height: 300px;
            overflow: hidden;
            border:1px solid #ccc;
            
        }

#twentyNewestSuperPacsContainer {
            width: 300px;
            height: 300px;
            overflow: hidden;
            border:1px solid #ccc;
            
        }

.pacs {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #696E5E;
    opacity: 0.7;
    font-weight: bold;
}

#dembarcontainer {
    height: 90vh; 
    /*min-width: 310px;*/ 
    width: 100%;
    margin: 0 auto;
}

#repbarcontainer {
    height: 90vh; 
    /*min-width: 310px;*/ 
    width: 100%;
    margin: 0 auto;
}

#piecontainer {
    /*min-width: 310px;*/
    height: 90vh;
    width: 100%;
    margin: 0 auto;
}













